.container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: white;
  border-right: 10px solid lightblue;
  border-left: 10px solid lightblue;
  border-bottom: 10px solid lightblue;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
}

.album {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.albumCard {
}




.albumCardInfo {
  margin: 5px;
  text-align: center;
}


.albumCardInfo:hover {
  box-shadow: 10px 10px 5px #888888;
}

.albumPics {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
 
}

.header {
  width: 800px;
  border-bottom: 1px solid red;
  margin-bottom: 15px;
}

.header > h1 {
  font-size: 64px;
}


.navBar {
  width: 150px;
}

.navButton {
  width: 140px;
  height: 25px;
  margin: 5px;
  background-color: lightblue;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navButton:hover {
  background-color: white;
  color: lightblue;
}

.link {
  text-decoration: initial;
}


.photoView {
  margin: 0 auto;
}

.creditBar {
  height: 100px;
  display: flex;
}

.profilePic {
  margin-right: 5px;
}